nav div div .nav-item .nav-link {
  font-weight: 600px !important;
  color: white !important;
}

.nav-item .nav-link:hover {
  color: yellow !important;
}

.navbar-toggler-icon {
  background-image: url("./images/button.png");
}

.navbar-toggler {
  border-color: #fff9c4;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.whatsnew {
  padding: 35px;
  background-color: #b70031;
  border-radius: 15px;
}

.whatsnew .heading2 {
  color: #ffca2c;
  padding-bottom: 20px;
}

.whatsnew ul strong {
  color: white;
}

.whatsnew ul a {
  color: #fffde7;
  text-decoration: none !important;
}

.social-links .svg {
  width: 20px;
  height: 20px;
}
.social-links li {
  padding-right: 30px;
}
.footer-menu .navbar-brand img {
  display: block;
  margin: auto;
}

footer .widget-title {
  color: #fffb00;
}

.textmobilecenter .menu-item a {
  color: white;
  text-decoration: none;
}

.menu-list li:hover a {
  color: #fffb00;
  font-weight: 500;
}
.footer-menu svg {
  color: #fffb00;
  width: 20px;
  height: 20px;
}
.footer-menu svg:hover {
  color: #fffb00;
  font-size: 30px;
}

#footer-bottom .bottom-last-row {
  text-align: center;
  padding: 20px 0px;
  color: white;
  font-size: medium;
}

#footer-bottom .terms-block {
  text-align: center;
  padding: 10px 0px;
  color: #ffca2c;
}

#footer-bottom .terms-block a {
  color: white;
  padding: 0px 5px;
  text-decoration: none;
}

#footer-bottom .terms-block a:hover {
  color: #ffca2c;
  padding: 0px 5px;
  text-decoration: none;
}

.twoColor {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  font-size: 3rem; /* Adjust the font size as needed */
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflow text */
  padding: 6px 0px;
}

.headingTitleNormal {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1.5px;
  background: -webkit-linear-gradient(90deg, #33691E, #113e00, #689F38, #AED581);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headingTitleGradient {
  background: -webkit-linear-gradient(90deg, #b70031, #b70031, tomato, tomato);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) {
  .textmobilecenter {
    text-align: center;
  }
  .menu-list a::before {
    display: none;
  }
  .footer-menu #address {
    text-align: center !important;
  }
  #whatsnewbox {
    width: 100%;
  }
  .row-cols-1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 85%; /* Adjust the width as needed */
  }
}

@media (max-width: 767px) {
  .row-cols-1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 85%; /* Adjust the width as needed */
  }
}

/* :horizontal scrolling gallery start*/
@keyframes slides {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 5px 0px;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  content: "";
  width: 250px;
  height: 100%;
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.logos:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.logo_items {
  display: inline-block;
  animation: 35s slides infinite linear;
}

.logos:hover .logo_items {
  animation-play-state: paused;
}

.logo_items img {
  height: 100px;
}

@keyframes customSlides {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.customLogos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.customLogos:before,
.customLogos:after {
  position: absolute;
  top: 0;
  content: "";
  width: 250px;
  height: 100%;
  z-index: 2;
}

.customLogos:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.customLogos:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.customLogoItems {
  display: inline-block;
  animation: 35s customSlides infinite linear;
}

.customLogos:hover .customLogoItems {
  animation-play-state: paused;
}

.customLogoItems img {
  height: 100px;
}

@media screen and (max-width: 600px) {
  .customLogoItems img {
    height: 100px;
  }

  .logos img {
    height: 100px;
  }
  .logos:before {
    left: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3)
    );
  }
  .logos:after {
    right: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3)
    );
  }

  .customLogos:before {
    left: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3)
    );
  }
  .customLogos:after {
    right: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3)
    );
  }
}
/* horizontal scrolling gallery end */

/* blogs */
.owl-dots{
  display: none;
}


/* @media screen and (max-width: 600px) {
  .bannerimg {
    width: 100%;
  }
} */

.responsive-image {
  max-width: 100%;
  height: auto;
}

/* CSS to center the image horizontally */
.banner-container {
  text-align: center;
}


.col .card{
background-color: #b70031;
color: white;
}